/config/app.php

/vendor/*
/tmp/*
/logs/*
/data/*
/private/*

/htdocs/js/jquery/*
!/htdocs/js/jquery/jquery.ajaxqueue.js
/plugins/Widgets/webroot/js/dropzone/*
/plugins/Widgets/webroot/css/dropzone/*

node_modules

/phpdoc/*
/.phpdoc/*

tests/Files/databases/test_projects/jobs/*
!tests/Files/databases/test_projects/jobs/.gitkeep
tests/Files/databases/test_import/jobs/*
!tests/Files/databases/test_import/jobs/.gitkeep
/.phpunit.result.cache

~*
*.status
*.diff
*.DS_Store

.gitlab
.idea

snippets.sql
dbupgrade*.sql
dbempty*.sql
!dbempty_45*.sql
/plugins/Epi/config/types/
/plugins/Widgets/webroot/snowfall/
/.gitlab-ci.yml
