---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$h-size-1: 1.6em;
$h-size-2: 1.25em;
$h-size-3: 1.25em;
$h-size-4: 1.25em;
$h-size-5: 1.25em;
$h-size-6: 1.25em;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body {
    font-size: 0.75em;
}
